# Redis
REDIS_URL=REDIS-URL
# Server
PORT=3000

# Embeddings provider
EMBEDDINGS_API_URL=EMBEDDINGS_API_URL
EMBEDDINGS_API_KEY=EMBEDDINGS_API_URL

# Vector DB (Qdrant)
QDRANT_URL=QDRANT_URL
QDRANT_API_KEY=eQDRANT_API_KEY
QDRANT_COLLECTION=YOUR_COLLECTION

# LLM / Gemini
GEMINI_API_KEY=YOUR_API_KEY
GCP_PROJECT_ID=spry-acolyte-405717
GEMINI_MODEL=gemini-2.5-flash
GEMINI_LOCATION=global

#Frontend
FRONTEND_URL=YOUR_FRONTEND_URL
